<!doctype html>
<html lang="ru">
<head>

  <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/bulma.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <title>{% block title%} Главная страница {% endblock%}
  </title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script>
        $(document).ready(function()
        {
            $('.check_value').click(function()
            {
                var txt = "";
                $('.check_value:checked').each(function()
                {
                    txt+=$(this).val()+','
                });
                txt=txt.substring(0, txt.length-1);
                $('#skills_list').val(txt);
            });
        });
</script>

<!-- header -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="height: 72px;">
    <a class="navbar-item" href="https://benearly.app">
      <img src="{% static 'img/logo_large.svg' %}" width="104" height="90" style="scale: 1.8; margin-left: 24px;">
    </a>
  </div>
</nav>
<!-- header -->

<!-- Content -->
<div class="box" style="background: #F7F7F7;">
    {% block content %}   {% endblock%}
</div>

<!-- Content -->

<footer class="footer" style="background:#2E3449">

  <div class="columns">
      <div class="column is-3" style="color:#FFFFFF">
          <figure class="bd-footer-title">
              <img src="{% static 'img/dark_logo.svg' %}">
          </figure>
          <br>
          <p class="bd-footer-tsp">Цель – помогать создавать новые продукты и находить людей для взаимопомощи. Улыбнись :)</p>
      </div>
  
    <div class="column is-6" style="color:#FFFFFF">
      <div class="bd-footer-link-title has-text-white">Продукт</div> 
        <p class="bd-footer-link">
          <a href="https://jokerdab.notion.site/BeNearly-io-52332924f39f4a608521422299ea9d43" target="_blank" class="has-text-grey-lighter">О продукте</a> 
        </p>
        <p class="bd-footer-link">
          <a href="https://t.me/beNearly_bot" target="_blank" class="has-text-grey-lighter">Telegram</a> 
        </p>

    </div>
  </div>

    </footer>
</body>
</html>